.my-flexbox-container {
  width: 100%;
  height: 20em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

#item-1 {
  background-color: blue;
  align-self: start;
}

#item-2 {
  background-color: green;
  /* flex-grow: 2; */
}

#item-3 {
  background-color: red;
  /* flex-grow: 1; */
}
